@font-face {
  font-family: 'Source Serif Pro';
  src: url('SourceSerifPro-Regular.otf.woff2') format('woff2'),
       url('SourceSerifPro-Regular.otf.woff') format('woff'),
       url('SourceSerifPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('SourceSerifPro-Semibold.otf.woff2') format('woff2'),
       url('SourceSerifPro-Semibold.otf.woff') format('woff'),
       url('SourceSerifPro-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('SourceSerifPro-Bold.otf.woff2') format('woff2'),
       url('SourceSerifPro-Bold.otf.woff') format('woff'),
       url('SourceSerifPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* Workaround until italics land in Source Serif Pro:
 * https://github.com/adobe-fonts/source-serif-pro/issues/2
 */
@font-face {
  font-family: 'Source Serif Pro';
  src: url('Heuristica-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('Heuristica-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('Heuristica-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}
