<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }} - {{ SITESUBTITLE }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/theme/css/font.css">
  <link rel="stylesheet" href="/theme/css/pygment.css">
  <link rel="stylesheet" href="/theme/css/main.css">
  {% block header_extras %}{% endblock %}
</head>

<!--
{{ MOTHERFUCKING_GREETINGS }}
-->

<body>
  <div id="main">

    <header>
      <h1 id="site-name"><a href="/">{{ SITENAME }}</a></h1>
      <h2 id="site-subtitle">{{ SITESUBTITLE}}</h2>
    </header>

    <nav>
      <ul class="navbar" id="left-navbar">
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% for page in pages if not page.hidden %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="navbar" id="right-navbar">
        <li><a href="https://cv.imnhan.com">CV</a></li>
        <li><a href="{{SITE_URL}}/feeds/atom.xml">Feed</a></li>
      </ul>

      <div class="clearfix"></div>

    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
      &copy; 2013–{{ CURRENT_YEAR }}
      {{ AUTHOR }}
      <br>
      {{ FOOTER_TEXT }}
      <p
        class="easter-egg"
        style="display: none; font-size: .7em; margin: 0; color: var(--bg-color);">
        Bored? Try entering the Konami code from your keyboard.
      </p>
      <script>
        document.querySelector('.easter-egg').style.display = 'block';
      </script>
    </footer>
  </div>

  <script src="/theme/konami.js"></script>

</body>
</html>
