{% extends 'base.html' %}

{% block header_extras %}
  <link rel="stylesheet" href="/theme/css/index.css">
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="{{ SITESUBTITLE }}" />
  {% if MOTHERFUCKING_DEFAULT_THUMB %}
  <meta property="og:image" content="{{ SITEURL }}/{{ MOTHERFUCKING_DEFAULT_THUMB }}" />
  {% endif %}
{% endblock %}

{% block content %}

<div class="blog-index">
    {% if articles %}
    <ul class="article-list">
        {% for article in articles_page.object_list %}
        <li>
            <h1 class="article-title">
                <a class="article" href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title|striptags }}
                </a>
            </h1>
            <time datetime="{{ article.date }}">
              {{ article.date|strftime('%B %d, %Y') }}
            </time>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}
