.article-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-list li {
  margin-bottom: 1rem;
}

.article-list a {
  display: block;
  font-weight: bold;
}

time {
  font-size: 0.9em;
}
