html {
  font-size: 100%;
  background-color: cornsilk;
  /* always show vertical scrollbar to avoid content shifting: */
  overflow-y: scroll;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: brown;
}
a:hover {
  text-decoration: underline;
}

figure,
img,
video {
  display: block;
  max-width: 100%;
}

video {
  /* On netsurf browser, a border for <video> tag will enclose all its
   * following siblings, which is probably a bug.
   * Therefore, no video border for now :(
  border: 1px solid black;
  box-sizing: border-box;
   */
}

p {
  line-height: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

iframe {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  display: inline-block;
  font-style: italic;
}
figcaption {
  padding: 5px;
}

blockquote {
  background-color: blanchedalmond;
  border: 2px solid burlywood;
  border-left: 5px solid burlywood;
  padding: 5px;
  padding-left: 7px;
  margin-left: 2rem;
  margin-right: 0;
}
blockquote > * {
  margin: 0;
}

time {
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
}

ul {
  padding-left: 2rem;
}

hr {
  border: 0;
  border-top: 1px solid black;
}

.clearfix {
  clear: both;
}

code {
  font-family: monospace;
}

p code {
  padding: 0.2rem 0.2rem 0.1rem 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid lightgray;
}

pre {
  padding: 0.5rem;
  overflow-x: auto;
  font-family: monospace;
}
pre code {
  font-size: 0.9rem;
}

/* site-specific stuff follows */

#main {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

nav {
  border: 2px solid brown;
  border-left: 0;
  border-right: 0;
  margin: 0.8rem auto 1rem auto;
}

nav ul {
  margin: 0;
  padding: 0.5rem 0;
}

footer {
  margin-top: 1.5rem;
  border-top: 2px solid brown;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}
footer a {
  white-space: nowrap;
}

#site-name {
  font-size: 1.5rem;
  margin-bottom: 0;
}

#site-subtitle {
  margin: 0;
}

.navbar > li {
  display: inline;
  list-style-type: none;
}
#left-navbar {
  float: left;
}
#left-navbar li {
  margin-right: 1rem;
}
#right-navbar {
  float: right;
}
#right-navbar li {
  margin-left: 1rem;
}
